/* reset */
* {
  margin: 0;
  padding: 0;
}

body {
  background: linear-gradient(#000, #fff);
  background: linear-gradient(to bottom, #000, #fff);
  background: linear-gradient(180deg, #888, #fff);
  background: linear-gradient(to bottom, #000 0%, #fff 100%);
  background-size: cover;
  background-attachment: fixed;
  background-repeat: no-repeat;
  background-position: center top;
  font-family: Arial, Helvetica, sans-serif;
}

/* fin */
h1 {
  color: #139c19;
  text-align: center;
  text-shadow: -2px -2px 2px #000;
  font-size: 5em;
  padding-bottom: 15px;

}

#wrapper {
  margin: 10px auto;
  width: 1180px;
  padding-right: 40px;
  padding-left: 40px;
  border-radius: 12px;
  background: #fff;

}

.menu-panneau {
  background: linear-gradient(#444, #111);
  border-radius: 25px 25px;
  list-style: none;
  /* position: relative;*/
}

.menu-panneau ul {
  list-style: none;
  text-align: center;

}

.menu-panneau ul li {
  padding-left: 20px;
}



.item {
  display: table-cell;
}

.item>a {
  color: #f2f2f2;
  padding: 10px;
  text-decoration: none;
  display: block;

}

.item a:hover {
  color: #fafafa;
  text-shadow: 1px 1px 1px #000;
  text-decoration: none;
  background: linear-gradient(#19b123, #139c19);

}

/* ------------------------------menu panneau----------------------------------*/
/* panneau-choix*/

.panneau-choix {
  background: linear-gradient(#19b123, #139c19);
  display: none;
  position: absolute;
  left: 469px;
  right: 0;
  width: 550px;
  border-left: 5px solid black;
  border-right: 5px solid black;
  border-bottom: 5px solid black;
  z-index: 2;
}


.item:hover .panneau-choix {
  display: block;

}


.panneau-choix figure {
  float: right;
  display: block;
}

/* fin panneau  choix */
.panneau-triangle {
  background: linear-gradient(#19b123, #139c19);
  display: none;
  position: absolute;
  left: 622px;
  right: 0;
  width: 550px;
  border-left: 5px solid black;
  border-right: 5px solid black;
  border-bottom: 5px solid black;
  z-index: 2;
}


.item:hover .panneau-triangle {
  display: block;

}


.panneau-triangle figure {
  float: right;
  display: block;
}

/*commun panneau */
.item-panneau a {
  color: #000;
}

.item-panneau a:hover {
  color: #ededed;
  text-shadow: 1px 1px 1px #000;

}

.container-panneau-menu a {
  color: #fff;
  text-decoration: none;
}

.sous-panneau {
  background: linear-gradient(#19b123, #139c19);

}

.container-panneau-menu h4 {
  color: #000;
  font-weight: bold;
}

/* menu triangle */


/*fin commun */

.clearfix-overflow {
  overflow: hidden;
}


/*--------------------------------------------------------------*/


.article figure {
  float: left;
  position: relative;
  left: -40px;
  z-index: 2;

}



figcaption {
  text-align: right;
  font-style: italic;
  color: #888;
}

.clearfix-overflow {
  overflow: hidden;
}

/*-----------------------------------*/
/*--------logo---------*/
.headers-param .param {
  display: table-cell;


}

.headers-param {
  display: table;
  table-layout: fixed;
  border-spacing: 10px;
}

.headers-param h2:first-child {

  width: 20px;
  background: #139c19;
  border-radius: 50px 0 0 50px;

}

.headers-param h2 {
  color: #139c19;


}

.main {
  position: relative;
  z-index: 1;
}

/*footer */
.footer {
  padding-top: 15px;
  border-top: 1px solid #139c19;



}

.menu-footer {
  list-style: none;
  text-align: center;
  width: 745px;
  margin: 0 auto;
  padding: 18px;



}

.menu-footer li {
  list-style: none;
  padding: 12px 5px;
  width: 140px;


}

.menu-footer a {
  border-radius: 50px 50px;
  color: #fff;
}

.item-footer {
  display: table-cell;
}

.item-footer a {

  padding: 10px 18px;
  text-decoration: none;
  display: block;
  background-color: #139c19;

}

/*.item-footer a:hover {
  color: #fafafa;

  text-decoration: none;
  background: linear-gradient(#19b123, #139c19);

}*/
/*aside*/


.main .col {
  padding-top: 20px;
}


.main .col {
  display: table-cell;

}

.main .col:first-child {
  width: 70%;

}

.main .col:last-child {

  width: 30%;
  border: 1px solid red;
}

.container-aside {
  vertical-align: bottom;

}

.colleft,
.colrigth {
  padding-bottom: 20px;
}

.colrigth h3 {
  color: #139c19;
}

.colrigth .position {
  padding: 10px 10px;
}

/* deux-colonnes*/

.deux-colonnes {
  -webkit-columns: 100px 2;
  -moz-columns: 100px 2;
  columns: 100px 2;
  -webkit-column-gap: 50px;
  -moz-column-gap: 50px;
  column-gap: 50px;
  -webkit-column-rule: 1px solid#f00;
  -moz-column-rule: 1px solid #f00;
  column-rule: 1px solid#f00;
}

/* ombre*/
